# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.xcarchive

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage (not used, kept for safety)
Pods/
Carthage/Build/

# macOS
.DS_Store
